%fieldset
  %legend Carrier
  %p
    %label
      Name
      = f.text_field :name
  %p
    %label
      Identifier
      =f.text_field :identifier
  %p
    %label
      Address
      = f.text_field :address
  %p
    %label
      Password
      = f.password_field :password
