= form_tag '/carriers/login' do
  %p
    %label
      Carrier Identifier
      = text_field_tag "identifier"
  %p
    %label
      Password
      = password_field_tag "password"
  = submit_tag "Login", :name => "login"