!!! 5
%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'whereru'
    = csrf_meta_tag 
    %title Where R U
    %link{:href => "/images/icon.png", :rel => "shortcut icon", :type => "image/png"}
    
  %body
    %header
      %img{:src => "/images/logo.jpg"}
      %h1 Where R U
    #content
      =# raw flash_messages(:error, :alert, :notice)
      = yield
